html, body {
 height: 100%;
}

body {
 background-color: rgb(48, 48, 48);
 color: white;
 font: 12px Tahoma;
 margin: 0;
}

input {
 padding: 2px;
 font: 14px Arial;
}

input#Path {
 width: 600px;
}

input[type=submit], input[type=button] {
 padding: 0 16px 0 16px;
}

div#Top {
 padding: 5px;
}

form#TheForm {
 height: 100%;
}

textarea#Content {
 box-sizing: border-box;
 -webkit-box-sizing:border-box;
 -moz-box-sizing: border-box;
 width: 100%;
 height: 100%;
}